.footer {
    padding-top: 60px;
    padding-bottom: 60px;

    color: var(--color-text-secondary);
    background: var(--footer-color);
}

.footer-list {
    margin-top: 9px;
}

.footer-list-a {
    margin-top: 0;
}

.addrses {
    font-style: normal;
    font-size: 14px;
}

.white.footer-link,
.footer-white {
    color: var(--color-text-secondary);
}

.footer-link {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        color: var(--link-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
}

.webstudio-footer {
    display: inline-block;
    margin-bottom: 20px;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--webstudio-color);
    text-decoration: none;
}

.footer-icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text-secondary);
    margin-bottom: 20px;
}

.icon-container.icon-list:hover,
.icon-container.icon-list:focus {
    background-color: var(--link-color);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-social-list {
    fill: var(--color-text-secondary);
}

.footer-div {
    margin-right: 70px;
}