.activity-title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-text-primary);
}

.activity-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--text);
}

.team-case-item {
    padding-top: 0;
    position: relative;
}